<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AdminLogin</title>
    <link rel="stylesheet" href="../static/css/AdminLogin.css">
    <script src="../static/js/jquery-1.12.4.min.js"></script>
    <script src="../static/js/AdminLogin.js"></script>
</head>
<body>
<div id="box">
    <!-- 管理员登录表单 -->
    <div id="formbox1">
        <!-- 管理员登录界面 -->
        <form action="Admin.html" id="adminloginform">
            <h1>河北圣顺环保科技人力资源管理系统</h1>
            <p class="adminuser">
                <label>用户名：</label>
                <input type="text" id="adminuser" name="user" placeholder="请输入管理员账号">
            </p>
            <p class="adminpsw">
                <label>　密码：</label>
                <input type="password" id="adminpsw" name="password" placeholder="请输入管理员密码">
            </p>
            <p class="adminbtn">
                <input type="submit" name="submit" value="登录" id="adminloginbtn">
            </p>
        </form>
    </div>
</div>
</body>
</html>