<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Department</title>
    <link rel="stylesheet" href="../static/css/Department.css">
    <script src="../static/js/jquery-1.12.4.min.js"></script>
    <script src="../static/js/Department.js"></script>
</head>
<body>
<!-- 表头信息 -->
<div class="header_con">
    <div class="header">
        <a href="#" class="logo">河北圣顺环保科技人力资源管理系统</a>
        <ul class="main_menu">
            <li class="active"><a href="Departmentss.html">部门管理</a></li>
            <li><a href="Admin.html">员工管理</a></li>
            <li><a href="Rewards.html">奖惩管理</a></li>
            <li><a href="Resource.html">招聘管理</a></li>
            <li id="exit"><a>
                <button type="button" id="exitbtn">退出登录</button>
            </a></li>
        </ul>
    </div>
</div>
<!-- 功能选项 -->
<div class="funcbtn">
    <button type="button" id="addbtn">新增</button>
    <!-- 功能弹窗 -->
    <div class="pop_main" id="pop">
        <div class="pop_con">
            <div class="pop_title">
                <h3>新增部门</h3>
                <a href="#" id="shutoff">×</a>
            </div>
            <div class="pop_detail">
                <!-- 新增部门表单 -->
                <div class="pop_text">
                    <form method="POST" id="adddepartmentform">
                        <p>
                            <label>部门ID:</label>
                            <input type="text" name="userid" id="department_id">
                        </p>

                        <p>
                            <label>部门名称:</label>
                            <input type="text" name="username" id="department_name">
                        </p>

                        <p class="pop_text_btn">
                            <input type="submit" value="保存" id="btn1">
                            <input type="reset" value="重置" id="btn2">
                        </p>
                    </form>
                </div>
            </div>
            <div class="pop_footer">

            </div>
        </div>
        <div class="mask"></div>
    </div>
</div>

<!-- 部门管理 -->
<table class="department_list">

    <tr>
        <th>部门ID</th>
        <th>部门名称</th>
        <th>操作</th>
    </tr>
    <!-- 部门列表数据 -->
    {% for department in data.departments %}
        {% if department.is_deleted == 0 %}
            <tr>
                <th>{{ department.depart_id }}</th>
                <th>{{ department.depart_name }}</th>

                <th>
                    <button type="button" class="editbtn">编辑</button>
                </th>
            </tr>
        {% endif %}

    {% endfor %}
    <!-- 功能弹窗 -->
    <div class="pop_main1" id="pop">
        <div class="pop_con1">
            <div class="pop_title1">
                <h3>编辑部门</h3>
                <a href="#" id="shutoff1">×</a>
            </div>
            <div class="pop_detail1">
                <!-- 编辑部门表单 -->
                <div class="pop_text1">
                    <form method="POST" id="edidepartmentform">
                        <p>
                            <label>部门ID:</label>
                            <input type="text" name="userid" id="editor_department_id">
                        </p>

                        <p>
                            <label>部门名称:</label>
                            <input type="text" name="username" id="editor_department_name">
                        </p>

                        <p class="pop_text_btn1">
                            <input type="hidden" name="admin_id" id="admin_id__" value="">
                            <input type="submit" value="保存" id="btn3">
                            <input type="reset" value="删除部门" id="btn4">
                        </p>
                    </form>
                </div>
            </div>
            <div class="pop_footer1">

            </div>
        </div>
        <div class="mask1"></div>
    </div>

</table>


</body>
</html>