<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rewards</title>
    <link rel="stylesheet" href="../static/css/Rewards.css">
    <script src="../static/js/jquery-1.12.4.min.js"></script>
    <script src="../static/js/Rewards.js"></script>
</head>
<body>
<!-- 表头信息 -->
<div class="header_con">
    <div class="header">
        <a href="#" class="logo">河北圣顺环保科技人力资源管理系统</a>
        <ul class="main_menu">
            <li><a href="Department.html">部门管理</a></li>
            <li><a href="Admin.html">员工管理</a></li>
            <li class="active"><a href="Rewards.html">奖惩管理</a></li>
            <li><a href="Resource.html">招聘管理</a></li>
            <li id="exit"><a>
                <button type="button" id="exitbtn">退出登录</button>
            </a></li>
        </ul>
    </div>
</div>
<!-- 功能选项 -->
<div class="funcbtn">
    <button type="button" id="addbtn" onclick="delAll()">新增</button>
    <!-- 功能弹窗 -->
    <div class="pop_main" id="pop">
        <div class="pop_con">
            <div class="pop_title">
                <h3>新增奖惩人员</h3>
                <a href="#" id="shutoff">×</a>
            </div>
            <div class="pop_detail">
                <!-- 新增奖惩表单 -->
                <div class="pop_text">
                    <form action="http://www.baidu.com" method="POST">
                        <p>
                            <label>ID:</label>
                            <input type="text" name="userid">
                        </p>

                        <p>
                            <label>姓名:</label>
                            <input type="text" name="username">
                        </p>

                        <p>
                            <label>电话:</label>
                            <input type="text" name="tel">
                        </p>

                        <p>
                            <label>奖励:</label>
                            <input type="text" name="age">
                        </p>

                        <p>
                            <label>惩罚:</label>
                            <input type="text" name="age">
                        </p>

                        <p class="pop_text_btn">
                            <input type="submit" value="保存" id="btn1">
                            <input type="reset" value="重置" id="btn2">
                        </p>

                    </form>
                </div>
            </div>
            <div class="pop_footer">

            </div>
        </div>
        <div class="mask"></div>
    </div>

    <!-- 功能弹窗 -->

</div>
<!-- 奖惩管理 -->
<table class="personal_list">
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>电话</th>
        <th>奖励</th>
        <th>惩罚</th>
        <th>编辑</th>
    </tr>
    <!-- 奖励列表数据 -->
    {% for user in data.users %}
        <tr>
            <th>{{ user.user_id }}</th>
            <th>{{ user.user_name }}</th>
            <th>{{ user.user_mobile }}</th>
        </tr>
    {% endfor %}
    {% for rewardspunishment in data.rewardspunishments %}
        <tr>
            <th>{{ rewardspunishment.reward }}</th>
            <th>{{ rewardspunishment.punishment }}</th>
            <th>
                <button type="button" id="editbtn">编辑</button>
            </th>
        </tr>
    {% endfor %}
    <!-- 功能弹窗 -->
    <div class="pop_main1" id="pop">
        <div class="pop_con1">
            <div class="pop_title1">
                <h3>编辑奖惩</h3>
                <a href="#" id="shutoff1">×</a>
            </div>
            <div class="pop_detail1">
                <!-- 编辑招聘表单 -->
                <div class="pop_text1">
                    <form action="http://www.baidu.com" method="POST">
                        <p>
                            <label>奖励:</label>
                            <input type="text" name="age">
                        </p>

                        <p>
                            <label>惩罚:</label>
                            <input type="text" name="age">
                        </p>

                        <p class="pop_text_btn1">
                            <input type="submit" value="保存" id="btn3">
                            <input type="reset" value="删除" id="btn4">
                        </p>

                    </form>
                </div>
            </div>
            <div class="pop_footer1">

            </div>
        </div>
        <div class="mask1"></div>
    </div>
    {#    <tr>#}
    {#        <th>002</th>#}
    {#        <th>小花</th>#}
    {#        <th>13294685671</th>#}
    {#        <th>1000</th>#}
    {#        <th>10</th>#}
    {#        <th>#}
    {#            <button type="button" id="editbtn" onclick="delAll()">编辑</button>#}
    {#        </th>#}
    {#    </tr>#}
</table>
</body>
</html>