<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>表格制作</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../static/css/Rewards.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <script src="../static/js/jquery-1.10.2.js"></script>
    <script src="../static/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../static/js/bootbox.min.js"></script>
</head>
<body>
    <div class="box">
        <div class="title">河北圣顺环保科技人力资源管理系统---奖惩管理</div>
        <div class="content">

            <div class="container content_width">
                <div class="person_search">
                    <div class="search_input">
                        <div class="input-group mb-3">
                            <span>员工ID：</span>
                            <input id="Ktext" type="text" class="form-control" placeholder="员工ID">
                        </div>
                    </div>
                    <!-- <div class="search_input">
                        <div class="input-group mb-3" hidden>
                            <span>工号：</span>
                            <input id="job_num" type="text" class="form-control" placeholder="请输入工号">
                        </div>
                    </div> -->
                    <div class="search_input">
                        <button class="btn btn-primary search_btn" type="button" id="search_btn">查询</button>
                        <button class="btn btn-primary search_btn" type="button" id="back_btn">重置</button>
                    </div>
                </div>
                <div class="line"></div>
            </div>

            <div class="export">
                <button id="new_add" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#renyuan">
                    <img src="../static/images/add_two.png" />
                    <span>添加</span>
                </button>
                <div class="modal fade" id="renyuan">
                    <div class="modal-dialog modal-lg modal_position">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">添加</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <table id="xztb" class="table">

                                    <tbody>
                                        <tr>
                                            <td class="tb_bg">
                                                <label for=""><font style="font-size: 14px; color: red;">*</font>员工ID</label>
                                            </td>
                                            <td><input class="userID" type="number" placeholder="请输入员工ID" /></td>
                                            <td class="tb_bg">
                                                <label for=""><font style="font-size: 14px; color: red;">*</font>员工姓名</label>
                                            </td>
                                            <td><input class="userName" type="text" placeholder="请输入员工姓名" /></td>
                                            <td class="tb_bg">
                                                <label for=""><font style="font-size: 14px; color: red;">*</font>手机号</label>
                                            </td>
                                            <td><input class="phoneNum" type="number" placeholder="请输入手机号" /></td>
                                        </tr>
                                        <tr> 
                                            <td class="tb_bg"><label for="">奖励</label></td>
                                            <td><input class="rewardNum" type="text" placeholder="请输入奖励" /></td>
                                            <td class="tb_bg"><label for="">惩罚</label></td>
                                            <td><input class="punishNum" type="text" placeholder="请输入惩罚" /></td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button id="add_btn" type="button" class="btn btn-secondary">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table id="tb" class="table">
                <thead>
                    <tr>
                        <th>员工ID</th>
                        <th>员工姓名</th>
                        <th>手机号</th>
                        <th>奖励</th>
                        <th>惩罚</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="show_tbody">
                    {% for rewardspunishment in data %}
                        {% if rewardspunishment.is_user_deleted == 0 and rewardspunishment.is_deleted ==0%}
                            <tr>
                                <td>{{ rewardspunishment.user_id }}</td>
                                <td>{{ rewardspunishment.user_name }}</td>
                                <td>{{ rewardspunishment.user_mobile }}</td>
                                <td>{{ rewardspunishment.reward }}</td>
                                <td>{{ rewardspunishment.punishment }}</td>
                                <td>
                                    <a href="#" class="edit">编辑</a>
                                    <a href="#" class="del">删除</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
{#                    <tr>#}
{#                        <td>01</td>#}
{#                        <td>小花</td>#}
{#                        <td>18086667777</td>#}
{#                        <td>100</td>#}
{#                        <td>10</td>#}
{#                        <td>#}
{#                            <a href="#" class="edit">编辑</a>#}
{#                            <a href="#" class="del">删除</a>#}
{#                        </td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td>02</td>#}
{#                        <td>李磊</td>#}
{#                        <td>14186668888</td>#}
{#                        <td>222</td>#}
{#                        <td>22</td>#}
{#                        <td>#}
{#                            <a href="#" class="edit">编辑</a>#}
{#                            <a href="#" class="del">删除</a>#}
{#                        </td>#}
{#                    </tr>#}
                </tbody>
            </table>
        </div>
    </div>
    <script src="../static/js/Reward.js"></script>
</body>
</html>
